Repository raymondwzeng/cs180-housing-project, pull requests merged in 2022-05, with the labels that each got.

#59 Get columnfrom list
  server/analytics.js
  server/routes/api.js
  server/test/analyticsTest.js
Labels: server side

#63 Update client display on UPDATE and DELETE
  client/src/App.js
Labels: client side

#64 Ci test
  .github/workflows/node.js.yml
  README.md
Labels: documentation

#72 Extend filter by all
  client/src/routes/Data.js
  server/operations.js
  server/routes/api.js
  server/test/analyticsTest.js
  server/test/apiTest.js
Labels: enhancement, server side

#73 Add Navbar components
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/navbar.css
  client/src/components/navbar.js
  client/src/routes/Data.css
  client/src/routes/Data.js
  client/src/routes/Graphs.js
Labels: client side

#90 Minor Cache refactoring
  server/operations.js
Labels: server side
